:root {
    --md-primary-fg-color:               hsla(var(--md-hue), 0%, 100%, 1);
    --md-primary-fg-color--light:        hsla(var(--md-hue), 0%, 100%, 0.7);
    --md-primary-fg-color--dark:         hsla(var(--md-hue), 0%, 0%, 0.07);
    --md-primary-bg-color:               hsla(var(--md-hue), 0%, 0%, 0.87);
    --md-primary-bg-color--light:        hsla(var(--md-hue), 0%, 0%, 0.54);

    --md-accent-fg-color: rgba(255,140,0, 1);
}
[data-md-color-accent=indigo]{
    --md-accent-fg-color: rgba(255,140,0, 1);
}

.md-main__inner {
    margin-top: 0;
    margin-bottom: 5em;
}

.md-typeset{
    font-size: 12pt;
}

.md-typeset a {
    color: rgba(255,140,0, 0.8);
}

.md-nav__link[for]:focus, .md-nav__link[for]:hover, .md-nav__link[href]:focus, .md-nav__link[href]:hover {
    color: rgba(255,140,0, 0.8);
}

.md-typeset h1>a, .md-typeset h2>a, .md-typeset h3>a {
    text-decoration: underline;
}

.md-typeset a:hover {
    color: rgba(255,140,0, 0.4);
}

.md-typeset h1, .md-typeset h2, .md-typeset h3{
    color:rgba(255,140,0, 1);
    font-weight: normal;
}

.md-typeset .admonition, .md-typeset .admonition.info, .md-typeset .admonition.example, .md-typeset .admonition, .md-typeset .admonition.note, .md-typeset .admonition.abstract, .md-typeset .admonition.tip{
    border-color: rgba(255,140,0, 0.1);
    margin-bottom: 3em;
}

.md-typeset .admonition>.admonition-title:before, .md-typeset .admonition>summary:before{
    background-color: rgba(255,140,0, 1);
}

.md-typeset .admonition>.admonition-title, .md-typeset .admonition>.admonition-title{
    background: rgba(255,140,0, 0.1);
    color: rgba(255,140,0, 1);
}
.md-typeset .admonition, .md-typeset details {
    border-color: rgba(255,140,0, 1);
    box-shadow: none;

}

.md-nav label.md-nav__title{
    color:rgba(255,140,0, 1);
}
.md-nav__item--section>.md-nav__link[for] {
    color:rgba(255,140,0, 1);
}


.md-nav__item a{
    color: #222;
}

.md-nav__link.md-nav__link--active{
    color: rgba(255,140,0, 1);
}


.md-sidebar.md-sidebar--primary .md-sidebar__scrollwrap{
    border-right: 1px solid #DDD;
    margin-right: 2em;
    padding-right: 2em;
}
.md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap{
    border-left: 1px solid #DDD;
    margin-left: 2em;
    padding-left: 2em;
}

.md-sidebar.md-sidebar--secondary .md-nav__item a {
    padding: 0;
}

.md-sidebar.md-sidebar--secondary .md-nav__item .md-nav{
    padding-bottom: 1em;
}

.md-search__form{
    background: #EEE;
}

.md-typeset code {
    padding:0.2em;
    margin:0.2em;
    font-size: 10pt;
    background-color: #FCFCFC;
}

.tabbed-set.tabbed-alternate{
    background: rgba(255,140,0, 0.1);
    color:  rgba(255,140,0, 1);
    margin-bottom: 3em;
}

.md-typeset .tabbed-labels>label>[href]:first-child{
    color:  rgba(255,140,0, 1);
}

.md-footer{
    margin-top: 2em;
    padding:1em;
    background: #EEE;
}

.md-footer-meta.md-typeset, .md-footer-meta .md-copyright{
    background: none;
    color:#000;
}

html .md-footer-meta.md-typeset a{
    color:#666;
}

.md-typeset table:not([class]), .md-typeset table:not([class]) td{
    border-collapse: collapse;
    border:none;
}

.admonition .highlighttable{
    margin: 0;
    border: none;
}
.md-typeset .admonition .highlighttable, .md-typeset details .highlighttable{

}

.highlighttable{
    border:1px solid  rgba(255,140,0, 0.1);
    border-top: 6px solid rgba(255,140,0, 0.1);
}

.admonition .highlighttable, .tabbed-set .highlighttable{
    border-top:none;
}

.highlighttable .linenos{
    background-color: #FCFCFC;;
    font-size: 10pt;
}

#developedBy{
    font-size: 11pt;
}

.tooltip{
    color:  rgba(255,140,0, 0.8);
}

p{
    margin-bottom:1.5em;
}