# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs: 
  JDK8:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Check Format
      run: mvn com.coveo:fmt-maven-plugin:check -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    - name: Build (JDK8)
      run: mvn clean compile -B -Dfmt.skip -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    - name: Test (JDK8)
      env:
        MAVEN_OPTS: "-Xmx6000m"
      run: mvn verify -B -Dfmt.skip -PJava8 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    - name: Prepare Coverage Reports
      env: 
        SUBMODULES: java.core java.bytecode java.sourcecode callgraph
      run: |
           sudo mkdir target/coverage-reports-jdk8
           sudo chmod -R 777 target 
           for item in $SUBMODULES
           do 
             sudo mv de.upb.swt.soot.${item}/target/coverage-reports/jacoco-ut.exec target/coverage-reports-jdk8/jacoco-ut-${item}-jdk8.exec
             sudo mkdir target/coverage-reports-jdk8/${item}-site
             sudo mv de.upb.swt.soot.${item}/target/site/jacoco-ut/* target/coverage-reports-jdk8/${item}-site
           done
     
    - uses: actions/upload-artifact@v2
      with:
        name: coverage-reports-jdk8
        path: target/coverage-reports-jdk8  

      
   
  JDK9:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.9
      uses: actions/setup-java@v1
      with:
        java-version: 1.9
    - name: Build (JDK9)
      run: mvn clean compile -B -Dfmt.skip -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    - name: Test (JDK9)
      env:
        MAVEN_OPTS: "-Xmx6000m"
      run: mvn verify -B -Dfmt.skip -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -PJava9
    - name: Prepare Coverage Reports      
      env: 
        SUBMODULES: java.core java.bytecode java.sourcecode callgraph
      run: |
           sudo mkdir target/coverage-reports-jdk9
           sudo chmod -R 777 target 
           for item in $SUBMODULES
           do 
             sudo mv de.upb.swt.soot.${item}/target/coverage-reports/jacoco-ut.exec target/coverage-reports-jdk9/jacoco-ut-${item}-jdk9.exec
             sudo mkdir target/coverage-reports-jdk9/${item}-site
             sudo mv de.upb.swt.soot.${item}/target/site/jacoco-ut/* target/coverage-reports-jdk9/${item}-site
           done
    - uses: actions/upload-artifact@v2
      with:
        name: coverage-reports-jdk9
        path: target/coverage-reports-jdk9  
   

   
      
